.detalleLibros--libro{
    width: 176px;
    height: 174px;
    margin-bottom: 0px;
}

.basurero{
    position: relative;
    clear: both;
    background: url(../../../../../img/delete_black_24dp.png);
    background-repeat: no-repeat;
    bottom: 80%;
    left: 80%;
    transform: translate(-100%, -100%);
    -ms-transform: translate(-100%, -100%);
    padding: 12px;
    border: none;
}

.editar{
    position: relative;
    clear: both;
    background: url(../../../../../img/edit_black_24dp.png);
    background-repeat: no-repeat;
    bottom: 80%;
    left: 80%;
    transform: translate(-100%, -100%);
    -ms-transform: translate(-100%, -100%);  
    padding: 12px;
    border: none;
}

@media screen and (max-width:768px) {
    .detalleLibros--libro{
        width: 164px;
        height: 174px;
    }

    .basurero{
        position: relative;
        clear: both;
        background: url(../../../../../img/delete_black_24dp.png);
        background-repeat: no-repeat;
        bottom: 60%;
        left: 80%;
        transform: translate(-100%, -100%);
        -ms-transform: translate(-100%, -100%);
        padding: 12px;
        border: none;
    }
    
    .editar{
        position: relative;
        clear: both;
        background: url(../../../../../img/edit_black_24dp.png);
        background-repeat: no-repeat;
        bottom: 60%;
        left: 80%;
        transform: translate(-100%, -100%);
        -ms-transform: translate(-100%, -100%);  
        padding: 12px;
        border: none;
    }
}

@media screen and (max-width:360px) {
    .detalleLibros--libro{
        width: 140px;
        height: 174px;
    }

    .basurero{
        position: relative;
        clear: both;
        background: url(../../../../../img/delete_black_24dp.png);
        background-repeat: no-repeat;
        bottom: 70%;
        left: 80%;
        transform: translate(-100%, -100%);
        -ms-transform: translate(-100%, -100%);
        padding: 12px;
        border: none;
    }
    
    .editar{
        position: relative;
        clear: both;
        background: url(../../../../../img/edit_black_24dp.png);
        background-repeat: no-repeat;
        bottom: 70%;
        left: 80%;
        transform: translate(-100%, -100%);
        -ms-transform: translate(-100%, -100%);  
        padding: 12px;
        border: none;
    }
}