.tituloPromocion{
    position: absolute;
    top: 40%;
    left: 5%;
    color: white;
    font-family: "Raleway";
    font-weight: 700;
    font-size: 52px;
    line-height: 61.05px;
}

.detallePromocion{
    position: absolute;
    top: 55%;
    left: 5%;
    color: white;
    font-family: "Raleway";
    font-weight: 700;
    font-size: 22px;
    line-height: 25.83px;
}

@media screen and (max-width: 360px){
    .tituloPromocion{
        top: 30%;
        font-size: 22px;
        line-height: 25.83px;
    }
    .detallePromocion{
        top: 40%;
        font-weight: 600;
        font-size: 14px;
        line-height: 16.44px;
    }
}