.main--credenciales{
    width: 432px;
    height: 291px;
    gap: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3rem;
}

@media screen and (max-width:768px) {
    .main--credenciales{
        width: 275px;
    }
}

@media screen and (max-width:360px) {
    .main--credenciales{
        width: 275px;
        height: 200px;;
    }
}