.seleccionMasVendidos--detalle--cuadroLibros{
    display: flex;

    gap: 2rem;
    flex-wrap: wrap;
}

@media screen and (max-width:768px) {
    .seleccionMasVendidos--detalle--cuadroLibros{
        gap: 0rem
    }
}

@media screen and (max-width:360px) {
    .seleccionMasVendidos--detalle--cuadroLibros{

    }
    
}