.logo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

@media screen and (max-width: 768px){
    .logo{
        width: 768px;
    }
}

@media screen and (max-width: 360px){
    .logo{
        justify-content: space-evenly;
        width: 360px;
    }
}