.marco{
    display: flex;
    width: fit-content;
    border-radius: 20px;
    background: #F5F5F5;
    padding: 8px 16px 8px 16px;
}

.inputForm{
    background: #F5F5F5;
    border: none;
    outline: none;
}

.inputForm:focus{
    outline: none;
}