.cabeceraCuadro{
    display: flex;
    width: 1136px;
    align-items: center;
    justify-content: space-around;
}

@media screen and (max-width:768px) {
    .cabeceraCuadro{
        max-width: 768px;
    }
    
}

@media screen and (max-width:360px) {
    .cabeceraCuadro{
        max-width: 360px;
    }
    
}