.logoynombre{
    display: flex;
    align-items: center;
}

.busqueda{
    background: none;
    width: 182px;
    height: 51px;
    border: solid 1px;
    padding: 16px;
    border-color: #2A7AE4;
    font-family: "Raleway";
    font-weight: 400;
    font-size: 16px;
    color: #2A7AE4;

}