.agregarProducto--Cuadro--encabezado{
    display: flex;
    flex-direction: column;
    height: 491px;
    justify-content: space-between;
    padding-bottom: 2rem;
    padding-left: 5rem;
    padding-right: 8rem;
    padding-top: 2rem;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width:768px) {
    .agregarProducto--Cuadro--encabezado{
        padding: 0px;
    }
}

@media screen and (max-width:360px) {
    .agregarProducto--Cuadro--encabezado{
        padding: 0px;
    }
    
}