.agregarProducto--Cuadro{
    display: flex;
    flex-wrap: wrap;
    width: 1136px;
    gap: 16px;
    justify-content: center;
}

@media screen and (max-width:768px) {
    .agregarProducto--Cuadro{
        width: 768px;
    }
}

@media screen and (max-width:360px) {
    .agregarProducto--Cuadro{
        width: 328px;
    }
}