.informacion{
    justify-content:flex-end;
    column-width: 176px;
    font-family: "Raleway";
    font-weight: 500;
    font-size: 16px;
    line-height: 28px;
    color: #464646;
}

@media screen and (max-width: 768px){
    .informacion{
        text-align: left;
        padding-left: 1rem;
    }
}

@media screen and (max-width: 360px){
    .informacion{
        text-align: center;
    }
}