.logopie{
    display: flex;
    align-items:center;
    align-self: flex-start;
    justify-content: flex-start;
    column-width: 176px;
    padding-right: 10rem;
}

@media screen and (max-width: 768px){
    .logopie{
        position: relative;
        padding: 8px 0px 0px 12px;
    }
}

@media screen and (max-width: 360px){
    .logopie{
        padding: 0px;
        justify-content: center;
    }
}