.cuadroLibros{
    display: flex;
    justify-content: center;
    gap: 1rem;
}

@media screen and (max-width: 768px){
    .cuadroLibros{
        max-width: 704px ;
    }
}

@media screen and (max-width: 360px){
    .cuadroLibros{
        display: flex;
        flex-wrap: wrap;
    }
}