.verTodoGrupo{
    display: flex;
    align-items: center;
}

.verTodo{
    font-family: "Raleway";
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: #2A7AE4;
}

.flecha{
    width: 24px;
    height: 24px;
}

@media screen and (max-width: 768px){
    .verTodo{
        font-size: 16px;
        line-height: 18.78px;
    }
}


@media screen and (max-width: 360px) {
    .verTodo{
        font-size: 14px;
        line-height: 16.44px;
    }
    
    .flecha{
        width: 16px;
        height: 16px;
    }
}