.libro{
        max-width: 500px;
        max-height: 400px;
        width: 100%;
        height: 100%;
}

@media screen and (max-width: 768px){
        .libro{
                max-width: 164px;
                max-height: 174px;
        }
}

@media screen and (max-width: 360px){
        .libro{
                max-width: 156px;
                max-height: 174px;
                gap: 8px;
        }
}